<head>
	<title>Bunny combat</title>
</head>
<style>
canvas {
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;
}
</style>

<script>
function startGame() {
  myGameArea.start();
	myGamePiece = new component(30, 30, "red", 500, 120);
}

var myGameArea = {
  canvas : document.createElement("canvas"),
  start : function() {
    this.canvas.width = 1000;
    this.canvas.height = 500;
    this.context = this.canvas.getContext("2d");
    document.body.insertBefore(this.canvas, document.body.childNodes[0]);
		this.interval = setInterval(updateGameArea, 25);
		},
			clear : function() {
				this.context.clearRect(0, 0, this.canvas.width, this.canvas.height);
		}
  }

var keyState = {
		left: false,
		right: false,
		up: false,
		down: false
	}

function component(width, height, color, x, y) {
  this.width = width;
  this.height = height;
  this.x = x;
  this.y = y;
	this.vectorY = 0;
	this.consecutiveJumps = 0;
	this.speed = 0;
  ctx = myGameArea.context;
  ctx.fillStyle = color;
  ctx.fillRect(this.x, this.y, this.width, this.height);
	this.update = function(){
    ctx = myGameArea.context;
    ctx.fillStyle = color;
    ctx.fillRect(this.x, this.y, this.width, this.height);
  }
}

function updateGameArea() {
	myGameArea.clear();
	
	
	if(keyState.left) { move(-1) }
	if(keyState.right) { move(1) }
	
	fall();
	slowDown();
	repositionPlayer();
	
	myGamePiece.update();
}

// Move X
function repositionPlayer() {
	if(myGamePiece.y < 470) {
		myGamePiece.y += myGamePiece.vectorY;
	}
	myGamePiece.x += myGamePiece.speed;

	// world loop
	if(myGamePiece.x <= 0) {
		myGamePiece.x = 999;
	}
	if(myGamePiece.x >= 1000) {
		myGamePiece.x = 0;
	}
}

function slowDown() {
		if(myGamePiece.vectorY > 0) {
				return;
			}
		if(myGamePiece.speed > 0) {
				myGamePiece.speed -= 1
			}
		
		if(myGamePiece.speed < 0) {
				myGamePiece.speed += 1
			}
	}

function move(direction) {
		myGamePiece.speed = 20 * direction;
}

// Move Y
function jump() {
		if(myGamePiece.consecutiveJumps >= 3) {
			return
		}
		myGamePiece.consecutiveJumps += 1;
		myGamePiece.vectorY = -10;
		myGamePiece.y -= 1;
	}

function fall() {
		if(myGamePiece.y >= 470) {
				myGamePiece.vectorY = 0;
				myGamePiece.y = 470;
				myGamePiece.consecutiveJumps = 0
				return;
			}

		if(myGamePiece.x >= 0) {
			myGamePiece.vectorY += 1;
	}
}

function registerKeyboard(e) {
	if(e.key == "w") {
		keyState.up = true
		jump()
	}
	if(e.key == "a") {
		keyState.left = true
	}
	if(e.key == "s") {
		keyState.down = true
	}
	if(e.key == "d") {
		keyState.right = true
	}
}

function releaseKeyboard(e) {
	if(e.key == "w") {
		keyState.up = false
	}
	if(e.key == "a") {
		keyState.left = false
	}
	if(e.key == "s") {
		keyState.down = false
	}
	if(e.key == "d") {
		keyState.right = false
	}
}


</script>
<body 
	onload="startGame()"

	onkeydown="registerKeyboard(event)" 
	onkeyup="releaseKeyboard(event)"

	>
<P>
W - jump<BR>
A - left<BR>
D - right<BR>
</P>

</body>
